# Core Web and Server
Flask==3.1.2
gunicorn==25.1.0
Werkzeug==3.1.5

# Data Science & NLP
numpy>=2.0.0
pandas>=3.0.0
scikit-learn==1.8.0
scipy==1.17.0
spacy==3.8.11
# Download model via URL or via spacy download command
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl

# Visualization
matplotlib==3.10.8
seaborn==0.13.2

# PDF and Utils
PyPDF2==3.0.1
pydantic>=2.0.0
requests==2.32.5
nltk==3.9.2
